<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log" type="Caelan.LogManager.LogConfiguration, Caelan.LogManager" />
	</configSections>
	<log maxLevel="ERROR">
		<writers>
			<writer name="File" source="c:\Users\matteobr\Desktop\test.txt" />
			<writer name="Json" source="c:\Users\matteobr\Desktop\test.json" />
			<writer name="Test" />
		</writers>
	</log>
</configuration>